/* Colors 
body background: #131417
tile background: #1e1f26 
username: #b7bbc8
card stats background: #131417
*/

:root {
    --font-main: 'Noto Sans', sans-serif;
    --bg-main: #131417;
    --bg-card: #1e1f26;
    --bg-stats: #131417;
    --username: #b7bbc8;
}

html, body {
    margin: 0;
    padding: 0;
}

.card {
    /*border: 1px green solid;*/
    width: 300px;
    height: 270px;
    margin-top: 40px;
    margin-left: 40px;
    background-color: var(--bg-card);
    border-radius: 0.5em;
    transition: all .2s ease-in;
    font-family: var(--font-main);
    font-size: 0.8em;
    line-height: 0.5em;
}

.card-thumbnail {
    display: flex;
    justify-content: center;
}
.card-thumbnail img{
    width: 90%;
    border-radius: 0.5em;
    margin-top: 15px;
}

.card-body{
    margin: 8px auto;
    width: 90%;
    display: flex;
    color: var(--username);

}

.card-details {
    width: 80%;
    padding-left: 8px   ;
}

.card-avatar {
    width: 20%;
}

.card-avatar img {
    width: 100%;
    border-radius: 1em;
}

.card-stats {
    visibility: hidden; 
    display: flex;
}

.card-stats li{
   list-style: none;
   margin-right: 12px;
   background-color: var(--bg-main);
   padding: .7em;
   color: var(--username);
   font-size: 1.3em;
   font-style: bold;
   border-radius: .5em;
}

.card:hover {
    height: 310px;
}

.card:hover .card-stats{
    visibility: visible;
}

/* ultima version*/