:root {
    --spoiler-color: black;
    --post-background-color: rgb(235, 229, 229);
}

body{
    font-size: 1em;
}

p {
    line-height: 1.5em;
  } 

.post {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--post-background-color);
    padding: 1em;
    margin: 1em auto;
    width: 30vw;
    border-radius: 1em;
}

.spoiler {
    background-color: var(--spoiler-color);
    color: var(--spoiler-color);
}

.spoiler:hover {
    background-color: var(--post-background-color);
    cursor: pointer;
    transition: all .5s ease-in;
}